*{
    padding: 0;margin: 0;
}
#top_nav_ul li {
    margin-right: 10px;
}

#carouselExampleIndicator .carousel-inner div {
    background-color: #9b9b9b;
}

.navbar {
    z-index: 100;
}
#navbarNavDropdown{
    background-color: #f8f9fa;
}

.home_card_body{
    height: 220px;
    position: relative;
}
.home_card_title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.view_content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.link_btn{
    position: absolute;
    bottom: 20px;
}