<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {{component_html_obj.header_info_html | safe}}
    <link rel="stylesheet" href="../static/css/article_page.css">
    <script src="https://kit.fontawesome.com/3863ac1243.js" crossorigin="anonymous"></script>

</head>

<body>
    {{component_html_obj.top_navbar_html | safe}}
    {{component_html_obj.error_window_html | safe}}
<script>
        $(document).ready(function () {
            var article_dict = "{{article_dict | safe}}"
            article_dict = JSON.parse(article_dict.replace(/'/g, '"'))
            $(".board .note").html(article_dict.subject);
            $(".board .date").html(article_dict.create_time);
            // $(".board .subtitle").html(article_dict.subtitle);
            // $(".board .subtitle").html("");

            $(".board .owner_name").html(article_dict.article_owner_name);
            $(".board .mainTxtArea").html(article_dict.content);

            // $(".board .date").html(article_dict.article_id);
            $(".board .txtPic").attr("src",article_dict.article_img_url);
            $(".board .headPic").attr("src",article_dict.article_owner_img);
            $(".board .type").html(article_dict.article_type);
            // $(".board .date").html(article_dict.ishome);
            // $(".board .date").html(article_dict.ishome_img);
            // $(".board .date").html(article_dict.isupload);
            // $(".board .date").html(article_dict.last_edit_time);
        });
        
    </script>
    <div class="container">
        <div class="wrap">
            <div class="board">
                <div class="share">
                    <button class="shareIcon"><i class="fa-solid fa-share-nodes"></i></button>
                </div>
                <div class="title">
                    <div class="head">
                        <img src="https://picsum.photos/80/90" class="headPic">
                    </div>
                    <h1 class="note">主題</h1>
                    <small class="date">Sun, 24 Jul 2022 12:00:35 GMT</small>
                    
                    
                    <div class="flexArea">
                        <p class="owner">擁有者:<span class="owner_name"></span></p>
                        <p class="type">公告</p>
                    </div>
                </div>
                <div class="txtPicArea" style="width: 700px;height: 300px;">
                    <img src="https://picsum.photos/700/300" class="txtPic" style="max-height: 100%;max-width: 100%;">
                </div>
                <div class="mainTxtArea">
                    <h2 class="mainTitle">段落一:</h2>
                    <ol class="mainTxt">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptate exercitationem est ipsum aut dicta vitae corporis, repellendus minus! Perspiciatis id corporis sunt, voluptates rem voluptatum pariatur accusamus eum ipsam?</li>
                    </ol>
                    
                </div>
            </div>
        </div>
    </div>



</body>

</html>