<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../static/script/login.js"></script>

    {{component_html_obj.header_info_html | safe}}

</head>

<body>
    {{component_html_obj.top_navbar_html | safe}}
    {{component_html_obj.error_window_html | safe}}

    <div class="container">

        忘記密碼？去跟班代要啊87(其實是我們還沒寫出送驗證信拉哈哈

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">請輸入註冊過的email</span>
            </div>
            <input type="text" class="form-control" placeholder="Email" aria-label="Username" id="mail">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="send_code_btn">傳送驗證碼</button>
            </div>
        </div>

        <div class="check_code_area" style="display: none;">
            <h1>
                <span id="sending_span">傳送中請稍後</span>
                <span style="display: none;" id="send_success">已傳送 驗證碼 至 <span id="show_mail"></span></span>
            </h1>
            <div class="input-group mb-3 verification_code_area" style="display: none;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="verification_code">請輸入7位驗證碼</span>
                </div>
                <input type="text" class="form-control" placeholder="請填入7位數驗證碼" aria-label="Username"
                    aria-describedby="verification_code" id="verification_code_input">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="check_verification_code_btn">驗證</button>
                </div>
            </div>
        </div>


        <!-- <button class="btn btn-outline-secondary" type="button" id="check_verification_code_btn">驗證</button> -->
        <script>
            var emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;

            function email_change(obj) {

                if ($(obj).val().search(emailRule) != -1) {
                    // $(obj).css("border-color","#2ecc71");
                    return true;
                } else {
                    // $(obj).css("border-color","red");
                    return false;
                }
            }
            $(document).ready(function () {
                $("#send_code_btn").click(function (e) {
                    e.preventDefault();
                    $(".check_code_area").show();

                    $.ajax({
                        type: "POST",
                        url: "/api/forgot_password",
                        data: {
                            email: $("#mail").val(),
                        },
                        dataType: "json",
                        success: function (response) {
                            console.log(response)
                            
                            if (response.status == "成功寄出") {
                                $(".verification_code_area").show();
                                $("#send_success").show();
                                $("#sending_span").hide();
                                $("#show_mail").text($("#mail").val());
                                

                            } else {
                                alert(response.status);
                            }
                        }
                    });
                });

                $("#check_verification_code_btn").click(function (e) {
                    e.preventDefault();
                    location.replace(`/api/forgot_password?email=${$("#mail").val()}&CAPTCHA=${$("#verification_code_input").val()}`)
                    $.ajax({
                        type: "GET",
                        url: "/api/forgot_password",
                        data: {
                            email: $("#mail").val(),
                            CAPTCHA:$("#verification_code_input").val(),
                        },
                        dataType: "json",
                        success: function (response) {
                            console.log(response)
                            
                        }
                    });
                });
            });
        </script>

    </div>

</body>

</html>