<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {{component_html_obj.header_info_html | safe}}
</head>

<body>
    {{component_html_obj.top_navbar_html | safe}}
    {{component_html_obj.error_window_html | safe}}
    <div class="container">

        忘記密碼？去跟班代要啊87(其實是我們還沒寫出送驗證信拉哈哈

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >請輸入註冊過的email</span>
            </div>
            <input type="text" class="form-control" placeholder="Email" aria-label="Username" id="mail">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="send_code_btn">傳送驗證碼</button>
            </div>
        </div>

        <div class="check_code_area" style="display: none;">
            <h1>已傳送 驗證碼 至 <span id="show_mail"></span></h1>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="verification_code">請輸入7位驗證碼</span>
                </div>
                <input type="text" class="form-control" placeholder="請填入7位數驗證碼" aria-label="Username"
                    aria-describedby="verification_code">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="check_verification_code_btn">驗證</button>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(function () {
                $("#send_code_btn").click(function (e) {//傳送驗證碼按鈕
                    e.preventDefault();
                    $(".check_code_area").show();
                    $("#show_mail").html($("#mail").val());
                });
                $("#verification_code").click(function (e) { //驗證驗證碼按鈕
                    e.preventDefault();
                    
                });
            });
        </script>
    </div>
</body>

</html>